RAG_ENABLED=true
RAG_WORKFLOW=langchain
RAG_VECTOR_DB=weaviate
RAG_EMBEDDING_MODEL=BAAI/bge-m3

WEAVIATE_URL=http://weaviate:8080
WEAVIATE_COLLECTION=KnowledgeBase

RAG_TOP_K=5
RAG_TIMEOUT_SECONDS=30

HF_HUB_DISABLE_XET=1
HF_HOME=/tmp/huggingface
